.van-list__error-text, .van-list__finished-text, .van-list__loading {
    color: #969799;
    font-size: 14px;
    line-height: 50px;
    text-align: center
}

.van-list__placeholder {
    height: 0;
    pointer-events: none
}

.vue-flex-waterfall[data-v-5d8f2e59] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap
}

.vue-flex-waterfall-split[data-v-5d8f2e59] {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

.Goods .price[data-v-eacde25c] {
    line-height: 1
}

.Goods .cols-11.w-full .item[data-v-eacde25c] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem
}

.Goods .cols-11.w-full .item .name[data-v-eacde25c] {
    font-size: 1.6rem
}

.Goods .cols-11.w-full .item .image[data-v-eacde25c] {
    width: 10rem;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.Goods .cols-11.w-full .item .price[data-v-eacde25c] {
    font-size: 1.8rem
}

.Goods .cols-11.w-full .item .info[data-v-eacde25c] {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    margin-left: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.Goods .cols-1.w-full .item .name[data-v-eacde25c] {
    font-size: 1.4rem
}

.Goods .cols-1.w-full .item .price[data-v-eacde25c] {
    font-size: 1.8rem
}

.Goods .cols-1.w-full .item .price-del[data-v-eacde25c] {
    font-size: 1.2rem
}

.Goods .cols-1.w-full .item .info[data-v-eacde25c] {
    padding: 1rem
}

.Goods .w-1\/2 .info[data-v-eacde25c] {
    padding: .8rem
}

.Goods .w-1\/2 .info .name[data-v-eacde25c] {
    margin: 1rem 0
}

.Goods .w-1\/2 .info .price[data-v-eacde25c] {
    font-size: 1.8rem
}

.Goods .w-1\/2 .info .price-del[data-v-eacde25c] {
    font-size: 1.2rem
}

.Goods .w-1\/3 .info[data-v-eacde25c] {
    padding: .4rem
}

.Goods .w-1\/3 .info .name[data-v-eacde25c] {
    margin: .6rem 0
}