.quantity-action > [data-v-52d075b4] {
    height: 3rem;
    line-height: 3rem
}

.quantity-action .btn[data-v-52d075b4] {
    width: 3rem;
    color: #666
}

.quantity-action .btn.disabled[data-v-52d075b4] {
    color: #ccc
}

.quantity-action .quantity[data-v-52d075b4] {
    min-width: 3rem;
    padding: 0 .1rem;
    background: none
}

.active[data-v-3259d6bc] {
    background: #fff0f1;
    color: #f93a4a;
    border: 1px solid #f93a4a
}

.disable[data-v-3259d6bc] {
    color: #ccced1
}

.bindUserInfo .border[data-v-6a0564f2] {
    border-style: solid;
    border-width: 1px
}

.bindUserInfo .border-bottom[data-v-6a0564f2] {
    border-bottom: 1px solid #ddd
}

.bindUserInfo .border-bottom[data-v-6a0564f2]:active, .bindUserInfo .border-bottom[data-v-6a0564f2]:focus, .bindUserInfo .border-bottom[data-v-6a0564f2]:hover {
    border-bottom-color: #333
}

.bindUserInfo .border-left[data-v-6a0564f2] {
    border-left-style: solid;
    border-left-width: 1px
}